<!doctype html>
<html>
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
        
<body>  
    <div class="form-container">
        <div class="form">
            <form method="POST" action="/login" class="login-form">
                <input type="text" id="username" name="username" placeholder="name"><br>
                <input type="password" id="password" name="password" placeholder="password"><br>
                <button type="submit" id="login" value="Login">Login</button>
                <p class="message">Not registered? <a href="/signup">Create an account</a></p><br>
            </form>
            <span id="loginMsg"><%= msg %></span>
        </div>
    </div>
</body>
        
</html>