<!doctype html>
<html>
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
        
<body>  
    <div class="form-container">
        <div class="form">
            <form method="POST" action="/signup" class="login-form">
                <input type="text" id="username" name="username" placeholder="name"><br>
                <input type="password" id="password" name="password" placeholder="password"><br>
                <input type="email" id="email" name="email" placeholder="email address"><br>
                <button type="submit" id="register" value="Register">Register</button>
                <p class="message">Already registered? <a href="/login">Sign In</a></p><br>
            </form>
            <span id="signupMsg"><%= msg %></span>
        </div>
    </div>

</body> 

</html>